.env
.data*
images/
cron.py
results/
dataset/
weights/
test.data
.DS_Store
coco.names
images.zip
__pycache__
classes.txt
training.data
**.weights
cnn-color-weights
vehicle-color-dataset/
yolov3-license_plates.weights 
license_plate_label_parser.py