.env
images/
cron.py
test.data
.DS_Store
coco.names
images.zip
__pycache__
training.data
yolov3.weights
yolov3-320.cfg
yolov3-320.weights
yolov3-license_plates.weights 
license_plate_label_parser.py
yolov3-license_plates-test.cfg